<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/preferencias.css">

    <!-- <link rel="stylesheet" href="css/dashboard-night.css"> -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5eb8de2af8.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="/img/logo-update.png" type="image/x-icon">

    <%
        const title = !locals.title ? "Inicio" : locals.title;
    %>

    <title><%= title %> - COSAB</title>
</head>
<body>
    <div class="main">
        <div class="window-overlay <%= locals.firstStep ? "" : "hidden" %>">
            <div class="window">
                <div class="window-title">
                    <span>Primeros Pasos</span>
                    <!-- <button>
                        <i class="fas fa-times"></i>
                    </button> -->
                </div>
                <div class="window-content">
                    <div class="first-steps-content" style="display: flex; flex-direction: column;">
                        <span>
                            Hola <b><%= usuario.nombre %></b>, para comenzar a utilizar la plataforma
                            es necesario otorgar algunos últimos datos que necesitamos recopilar.
                            ¿Qué te parece si comenzamos? ¡Hagámoslo!
                        </span>
                        <br/><br/>
                        <span>
                            Escoge el nombre con el que deseas que aparezcas en esta plataforma, algo más personalizado para ti.
                        </span>
                        <div style="display: flex; flex-direction: column;">
                            <input type="text" id="campo-primeropaso-apodo"
                                style="
                                    width: 50%;
                                    align-self: start;
                                    border: none;
                                    border-bottom: 1px solid black;
                                    outline: none;
                                    margin-bottom: -1px;
                                "   
                            >
                            <span style="font-size: 0.7rem;">El nombre deseado</span>
                        </div>
                        <div style="align-self: end;">
                            <button style="width: 150px;" class="boton-primeropaso-confirmar">Aceptar</button>
                            <button style="width: 150px;" class="boton-primeropaso-cancelar">Cerrar sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="window-overlay window-funcionario hidden" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="window funcionario-vista" style="
                height: 600px;
                ">
                <div class="window-title">
                    <span>Vista del Funcionario</span>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="window-content" style="height: calc(100% - 50px);">
                    <div class="content-funcionario-edit" style="height: 100%;">
                        <form action="/listaFuncionarios" method="post" autocomplete="off" id="funcionario-edit-form" enctype="multipart/form-data" style="height: 100%;">
                            <input hidden name="id" type="number" id="funcionario-edit-id">

                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <div style="font-weight: 300; font-size: 1.25rem; margin-bottom: 5px;">
                                        Datos del Funcionario
                                    </div>

                                    <input type="text" hidden autocomplete="false">

                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="codigo_autorizacion" type="text" id="funcionario-edit-autorizacion" class="input-text" disabled>
                                        <span style="font-size: 0.7rem;">Código de autorizacion</span>
                                    </div>
        
                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="nombre" type="text" id="funcionario-edit-nombre" class="input-text">
                                        <span style="font-size: 0.7rem;">Nombre de Usuario</span>
                                    </div>
        
                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="apodo" type="text" id="funcionario-edit-alias" class="input-text">
                                        <span style="font-size: 0.7rem;">Alias</span>
                                    </div>
                                    
                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <select name="estado" class="form-select select-input" id="funcionario-edit-estado">
                                            <option value="1">Activo</option>
                                            <option value="0">Deshabilitado</option>
                                        </select>
                                        <span style="font-size: 0.7rem;">Estado de la cuenta</span>
                                    </div>
        
                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="password_actualizar" type="password" id="funcionario-edit-pwd" class="input-text" autocomplete="new-password">
                                        <span style="font-size: 0.7rem;">Actualizar Contraseña</span>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center justify-content-center" style="flex-direction: column;">
                                    <div style="font-weight: 300; font-size: 1.25rem; margin-bottom: 5px; align-self: start;">
                                        Foto del Funcionario
                                    </div>

                                    <input hidden name="foto" type="file" accept="image/*" id="funcionario-edit-foto">
                                    <div class="funcionario-edit-imagen" style="width: 256px; height: 256px; border: 1px solid rgba(0, 0, 0, 0.125);">
                                        <img src="/img/funcionarios/foto.jpg" style="
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        ">
                                    </div>
                                </div>
    
                                <style>
                                    :root {
                                        --input-width: 100%;
                                    }
    
                                    .input-text {
                                        width: var(--input-width); 
                                        align-self: start; 
                                        border: none; 
                                        border-bottom: 1px solid black; 
                                        outline: none;
                                    }
                                    
                                    .select-input {
                                        width: var(--input-width);
                                        padding: 0;
                                        border-radius: 0;
                                        border: 1px solid;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        outline: none !important;
                                    }
                                </style>
                            </div>
                            <div class="row">
                                <div class="col" style="display: flex; flex-direction: column;">
                                    <div style="font-weight: 300; font-size: 1.25rem; margin-bottom: 5px;">
                                        Roles de Funcionario
                                    </div>
                                    <div class="form-check form-switch">
                                        <input name="permiso_1" type="checkbox" class="form-check-input" id="funcionario-edit_permiso-controltotal-check">
                                        <label for="funcionario-edit_permiso-controltotal-check">Control Total</label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input name="permiso_2" type="checkbox" class="form-check-input" id="funcionario-edit_permiso-gestionarfuncionarios-check">
                                        <label for="funcionario-edit_permiso-gestionarfuncionarios-check">Gestionar Funcionarios</label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input name="permiso_3" type="checkbox" class="form-check-input" id="funcionario-edit_permiso-controlmovimiento-check">
                                        <label for="funcionario-edit_permiso-controlmovimiento-check">Gestionar Movimientos</label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input name="permiso_4" type="checkbox" class="form-check-input" id="funcionario-edit_permiso-aporte-check">
                                        <label for="funcionario-edit_permiso-aporte-check">Gestionar Aportes</label>
                                    </div>

                                    <div class="form-check form-switch">
                                        <input name="permiso_5" type="checkbox" class="form-check-input" id="funcionario-edit_permiso-ahorros-check">
                                        <label for="funcionario-edit_permiso-ahorros-check">Gestionar Ahorros</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div style="font-weight: 300; font-size: 1.25rem; margin-bottom: 5px;">
                                            Aviso
                                        </div>
                                        <span style="font-size: 0.9rem;">
                                            Al hacer alguna modificación por esta sección, recuerda presionar el botón de abajo para confirmar tus cambios. 
                                        </span>
                                    </div>
                                    <div class="row h-50 d-flex align-items-center justify-content-center">
                                        <button type="submit" style="width: 62.5%;">Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="window-overlay window-socio hidden" style="background-color: rgba(0, 0, 0, 0.5);">
            <style>
                @keyframes socio-anim {
                    from {
                        transform: skewX(0) skewY(0);
                        scale: 0.5;
                    }
                    50% {
                        scale: 0.5;
                    }
                    to {
                        transform: skewX(360deg) skewY(360deg);
                        scale: 0.5;
                    }
                }
            </style>
            <div class="window socio-vista" style="
                height: max-content;
                ">
                <div class="window-title">
                    <span>Vista del Socio</span>
                    <button>
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="window-content" style="height: calc(100% - 50px);">
                    <div class="content-socio-edit" style="height: 100%;">
                        <form action="/socios" method="post" autocomplete="off" id="socio-edit-form" enctype="multipart/form-data" style="height: 100%;">
                            <input hidden name="id" type="number" id="socio-edit-id">

                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <div style="font-weight: 300; font-size: 1.25rem; margin-bottom: 5px;">
                                        Datos del Socio
                                    </div>

                                    <input type="text" hidden autocomplete="false">

                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="nombre" type="text" id="socio-edit-nombre" class="input-text">
                                        <span style="font-size: 0.7rem;">Nombres</span>
                                    </div>
        
                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="apellido" type="text" id="socio-edit-apellido" class="input-text">
                                        <span style="font-size: 0.7rem;">Apellidos</span>
                                    </div>
        
                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="direccion" type="text" id="socio-edit-direccion" class="input-text">
                                        <span style="font-size: 0.7rem;">Dirección</span>
                                    </div>

                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="ciudad" type="text" id="socio-edit-ciudad" class="input-text">
                                        <span style="font-size: 0.7rem;">Ciudad</span>
                                    </div>

                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="cedula" type="text" id="socio-edit-cedula" class="input-text">
                                        <span style="font-size: 0.7rem;">Cédula</span>
                                    </div>

                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="correo" type="text" id="socio-edit-correo" class="input-text">
                                        <span style="font-size: 0.7rem;">Correo</span>
                                    </div>

                                    <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                                        <input name="telefono" type="text" id="socio-edit-telefono" class="input-text">
                                        <span style="font-size: 0.7rem;">Teléfono</span>
                                    </div>
        
                                </div>
    
                                <style>
                                    :root {
                                        --input-width: 100%;
                                    }
    
                                    .input-text {
                                        width: var(--input-width); 
                                        align-self: start; 
                                        border: none; 
                                        border-bottom: 1px solid black; 
                                        outline: none;
                                    }
                                    
                                    .select-input {
                                        width: var(--input-width);
                                        padding: 0;
                                        border-radius: 0;
                                        border: 1px solid;
                                        border-top: none;
                                        border-left: none;
                                        border-right: none;
                                        outline: none !important;
                                    }
                                </style>
                            </div>
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col">
                                    <div class="row">
                                        <div style="font-weight: 300; font-size: 1.25rem; margin-bottom: 5px;">
                                            Aviso
                                        </div>
                                        <span style="font-size: 0.9rem;">
                                            Al hacer alguna modificación por esta sección, recuerda presionar el botón de abajo para confirmar tus cambios. 
                                        </span>
                                    </div>
                                    <div class="row h-50 d-flex align-items-center justify-content-center">
                                        <button type="submit" style="width: 62.5%;">Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="header">
            <div class="header-title">
                <%= title %>
            </div>
            <div class="header-session">
                <span class="session-caption">Iniciado como <b><%= usuario.apodo ?? usuario.nombre %></b></span>
                <div class="session-options hidden" style="z-index: 2;">
                    <button class="session-options-button">
                        <i class="fas fa-user"></i>
                        Ver Mi Perfil
                    </button>
                    <button class="session-options-button">
                        <i class="fas fa-cog"></i>
                        Ir a Configuracion
                    </button>
                    <button class="session-options-button">
                        <i class="fas fa-sign-out-alt"></i>
                        Cerrar sesion
                    </button>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="sidebar-banner">
                <div class="banner-overlay"></div>
                <img src="img/familia-feliz-abuelos.avif">
            </div>
            <div class="sidebar-items">
                <a href="/inicio" class="item-row <%= title == "Inicio" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-home"></i>
                        Inicio
                    </button>
                </a>
                <a href="/listaFuncionarios" class="item-row <%= title == "Lista de Funcionarios" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-briefcase"></i>
                        Funcionarios
                    </button>
                </a>
                <a href="/socios" class="item-row <%= title == "Socios" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-briefcase"></i>
                        Socios
                    </button>
                </a>
                <a href="/movimientos" class="item-row <%= title == "Movimientos" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-people-arrows"></i>
                        Movimientos
                    </button>
                </a>
                <a href="/aportes" class="item-row <%= title == "Aportes" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-hand-holding-usd"></i>
                        Aportes
                    </button>
                </a>
                <a href="/ahorros" class="item-row <%= title == "Ahorros" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-piggy-bank"></i>
                        Ahorros
                    </button>
                </a>
                <a href="/prestamos" class="item-row <%= title == "Prestamos" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-money-check-alt"></i>
                        Prestamos
                    </button>
                </a>
                <a href="/pagos" class="item-row <%= title == "Pagos" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-wallet"></i>
                        Pagos
                    </button>
                </a>
                <a href="/nosotros" class="item-row <%= title == "Sobre Nosotros" ? "item-row-active" : "" %> ">
                    <button>
                        <i class="fas fa-sitemap"></i>
                        Nosotros
                    </button>
                </a>
            </div>
            <div class="sidebar-footer">
                <span>Cooperativa San Bruno</span>
                <span>Fundada en 2023</span>
                <span>Desarrollado por Adrian Ramirez</span>
            </div>
        </div>
        <div class="content">
            <%
                if (title == "Inicio") {
            %>
                <%- include("inicio.html", { usuario }) %>
            <%
                }
                else if (title == "Mis Preferencias") {
            %>
                <%- include("preferencias.html", { usuario }) %>
            <%
                }
                else if (title == "Lista de Funcionarios") {
            %>
                <%- include("funcionario.html", { usuario }) %>
            <%
                }
                else if (title == "Sobre Nosotros") {
            %>
                <%- include("nosotros.html") %>
            <%
                }
                else if (title == "Movimientos") {
            %>
                <%- include("movimientos.html") %>
            <%
                }
                else if (title == "Aportes") {
            %>
                <%- include("aportes.html") %>
            <%
                }
                else if (title == "Ahorros") {
            %>
                <%- include("ahorros.html") %>
            <%
                }
                else if (title == "Prestamos") {
            %>
                <%- include("prestamos.html") %>
            <%
                }
                else if (title == "Pagos") {
            %>
                <%- include("pagos.html") %>
            <%
                }
                else if (title == "Socios") {
            %>
                <%- include("socios.html") %>
            <%
                }
            %>
        </div>
    </div>
</body>
<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/funcionario-vista.js" type="module"></script>
<script src="js/socio-vista.js" type="module"></script>
<script src="js/aportes.js"></script>
</html>