<div class="content-main">
    <div class="content-main-title">
        Listado de Funcionarios
    </div>
    <button class="boton-crear-funcionario" style="border: 1px solid rgba(0, 0, 0, 0.25);">Nuevo Funcionario</button>
    <div class="content-main-data">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Alias</th>
                    <th>Ultimo ingreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <%
                    funcionarios = funcionarios.filter(funcionario => funcionario.nombre)
                    for (const usuario of funcionarios) {
                %>
                    <tr>
                        <td><b><%= usuario.nombre %></b></td>
                        <td><%= usuario.apodo %></td>
                        <td><%= usuario.lastSession() %></td>
                        <td>
                            <button class="boton-ver-funcionario" id="<%= usuario.id_usuario %>"><i class="fas fa-cog"></i></button>
                        </td>
                    </tr>
                <%
                    }
                %>
            </tbody>
        </table>
    </div>
</div>

<!-- <%
            for (const usuario of funcionarios) {
        %>
            <span><%= usuario.nombre %></span>
            <span><%= usuario.apodo %></span>
        <%
            }
        %> -->