<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/5eb8de2af8.js" crossorigin="anonymous"></script>
    <title>Iniciar sesion</title>
</head>
<body>
    <div class="aviso">
        <div class="aviso-icono">
            <i class="fas fa-times"></i>
        </div>
        <div class="aviso-texto">
            xd
        </div>
    </div>
    <div class="main">
        <div class="contenedor inicio-sesion">
            <div class="contenedor-logo">
                <img src="img/familia-feliz-abuelos.avif" alt="">
                <div class="logo-degradado"></div>
                <span class="logo-texto">Inicie sesion</span>
            </div>
            <div class="contenedor-inputs">
                <div>
                    <input type="text" id="campo-usuario">
                    <span style="font-size: 0.7rem;">Usuario</span>
                </div>
                <div>
                    <input type="password" id="campo-password">
                    <span style="font-size: 0.7rem;">Contraseña</span>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" id="boton-iniciar-sesion" style="border-radius: 0;">Iniciar sesión</button>
                    <span 
                        style="
                            font-size: 0.75rem;
                            text-decoration: underline;
                            cursor: pointer;
                            user-select: none;
                            width: max-content;
                        "
                        class="boton-ir-registrarse"
                    >Registrarse</span>
                </div>
            </div>
        </div>

        <div class="contenedor registro-sesion hidden" style="grid-template-rows: 40% 60%;">
            <div class="contenedor-logo">
                <img src="img/familia-feliz-abuelos.avif" alt="">
                <div class="logo-degradado"></div>
                <span class="logo-texto">Registrar</span>
            </div>
            <div class="contenedor-inputs" style="grid-template-rows: 20% 20% 20% 20% 20%;">
                <div>
                    <input type="text" id="campo-registro-autorizacion">
                    <span style="font-size: 0.7rem;">Codigo de autorizacion</span>
                </div>
                <div>
                    <input type="text" id="campo-registro-usuario">
                    <span style="font-size: 0.7rem;">Nombre de usuario</span>
                </div>
                <div>
                    <input type="password" id="campo-registro-password">
                    <span style="font-size: 0.7rem;">Contraseña deseada</span>
                </div>
                <div>
                    <input type="password" id="campo-registro-confpassword">
                    <span style="font-size: 0.7rem;">Confirmar contraseña</span>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" id="boton-iniciar-sesion" style="border-radius: 0;">Registrarse</button>
                    <span 
                        style="
                            font-size: 0.75rem;
                            text-decoration: underline;
                            cursor: pointer;
                            user-select: none;
                        "
                        class="boton-ir-iniciarsesion"
                    >Iniciar sesión</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</html>