<div class="content-main">
    <div class="content-main-title">
        Cooperativa San Bruno
    </div>
    <div class="content-main-data">
        La Cooperativa San Bruno fue fundada en 2023 con la misión de promover el bienestar económico y social de nuestros miembros y la comunidad. 
        Desde nuestros inicios, hemos trabajado arduamente para ofrecer servicios de alta calidad, fomentando el desarrollo sostenible y la inclusión financiera.

        Nuestra cooperativa se basa en los principios de solidaridad, cooperación y responsabilidad social. 
        Creemos firmemente en la importancia de construir una economía más justa y equitativa, donde todos tengan la oportunidad de prosperar.
    </div>
    <br/>
    <div class="content-main-title">
        Misión
    </div>
    <div class="content-main-data">
        Nuestra misión es proporcionar servicios financieros y sociales que mejoren la calidad de vida de nuestros miembros, 
        apoyando iniciativas locales y promoviendo el crecimiento económico sostenible.
    </div>
    <br/>
    <div class="content-main-title">
        Visión
    </div>
    <div class="content-main-data">
        Ser una cooperativa líder en innovación y desarrollo comunitario, reconocida por nuestro compromiso con la excelencia y la equidad.
    </div>
    <br/>
    <div class="content-main-title">
        Valores
    </div>
    <div class="content-main-data">
        <ul>
            <li><b>Solidaridad:</b> Fomentamos el apoyo mutuo y la colaboración entre nuestros miembros.</li>
            <li><b>Responsabilidad:</b> Actuamos con integridad y transparencia en todas nuestras actividades.</li>
            <li><b>Sostenibilidad:</b> Promovemos prácticas responsables que beneficien a la comunidad y al medio ambiente.</li>
            <li><b>Inclusión:</b> Trabajamos para que todos tengan acceso a oportunidades económicas y sociales.</li>
        </ul>
    </div>
    <br/>
    En la Cooperativa San Bruno, estamos dedicados a construir un futuro mejor para nuestros miembros y la comunidad. 
    Invitamos a todos a unirse a nosotros en este viaje hacia un crecimiento inclusivo y sostenible.
</div>