<div class="content-main">
    <div class="content-main-title">
        Consulta de Prestamos
    </div>
    <div class="content-main-data">
        <div class="data-search" style="width: 100%; height: 150px; border: 1px solid rgba(0, 0, 0, 0.25); display: flex; align-items: center; justify-content: center;">
            <div style="width: 90%; margin-bottom: 5px; display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                    <input name="apodo" type="text" id="funcionario-edit-alias" class="input-text">
                    <span style="font-size: 0.7rem;">Nombre, CI, N° de Socio o N° de Cuenta</span>
                </div>
                <button style="align-self: end; border: 1px solid rgba(0, 0, 0, 0.25);">Consultar</button>
            </div>
        </div>
    </div>
</div>