:root {
    --logo-max-size: 80%;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.contenedor {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.125);
    border: 1px solid rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-rows: 60% 40%;
}

.contenedor-logo {
    display: grid;
    place-items: center;
    color: white;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
}

.contenedor-logo img {
/*     max-width: var(--logo-max-size);
    max-height: var(--logo-max-size); */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    filter: brightness(0.5);
}

.contenedor-logo .logo-degradado {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, white, transparent);
    position: absolute;
    z-index: 1;
}

.contenedor-logo .logo-texto {
    position: relative;
    z-index: 2;
}

.contenedor-inputs {
    padding: 15px;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    place-items: center;
}

.contenedor-inputs > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-inputs :is(input[type="text"], input[type="password"]) {
    width: 100%;
    height: 62.5%;
    align-self: start;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: -1px;
}

.contenedor-inputs :is(input[type="text"], input[type="password"]):focus {
    box-shadow: 0px 2px 0px;
}

.contenedor-inputs button {
    width: 100%;
    height: 40px;
    border: none;
    align-self: end;
}

.aviso {
    --espaciado: 20px;

    width: 400px;
    min-height: 50px;
    background: white;
    position: absolute;
    margin-top: var(--espaciado);
    margin-left: var(--espaciado);
    border-radius: 10px;
    background-color: rgb(255, 50, 50);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    color: white;

    display: grid;
    grid-template-columns: 15% 85%;

    transform: translateX(-120%);
    transition: transform 0.25s ease-in-out;
}

.aviso-icono {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
}

.aviso-texto {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    word-break: break-word;
    padding: 10px;
}

.aviso-activo {
    transform: translateY(0);
}

.boton-ir-registrarse:hover, .boton-ir-iniciarsesion:hover {
    color: blue;
}

.boton-ir-registrarse:active, .boton-ir-iniciarsesion:active {
    color: cadetblue;
}

.hidden {
    display: none;
}